*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-left: 5%;
  margin-top: 3%;
}

header .logo {
}

.cont {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  align-items: center;
}

.cont form {
  margin: 30px auto;
  width: 33%;
  height: 30px;
}

form input {
  width: 80%;
  height: 100%;
}

form button {
  height: 100%;
  border-radius: 10%;
  border-color: none;
  margin-left: 2%;
  cursor: pointer;
}

.cont h3 {
  margin: auto;
  font-size: 2.3em;
}


.card-cont {
  display: flex;
}

.card {
  /* margin: auto; */
  border: 1px solid black;
  border-radius: 3%;
  width: 70%;
  height: 100px;
  margin-left: 4%;
}
